* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, rgb(106, 187, 59), rgb(51, 147, 80));
}

#topic {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: auto 0;
  color: antiquewhite;
}
